header {
    background-color: var(--frame-back-color);
    user-select: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.256);
}

header .inner-header-wrapper {
    position: relative;
    max-width: 80vw;
    min-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
}

header .inner-header-wrapper a {
    text-decoration: none;
}

header .inner-header-wrapper a h1 {
    font-family: 'Piazzolla', serif;
    color: var(--frame-accent-color);
    white-space: nowrap;
}

header .inner-header-wrapper nav {
    display: flex;
    height: 40px;
}

header .inner-header-wrapper nav a {
    display: block;
    height: 100%;
    margin: 0 5px;
    padding: 0 5px;
    text-decoration: none;
    color: var(--frame-text-color);
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
}

header .inner-header-wrapper nav a:hover {
    color: var(--frame-accent-color);
    background-color: var(--frame-text-color);
}

header .inner-header-wrapper nav .inner-wrapper .sign-out {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--frame-back-color);
    padding: 5px;
    margin: 0;
}

header .inner-header-wrapper nav .inner-wrapper:hover .sign-out  {
    display: flex;
}
